<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./home.html">Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="./amigos.html">Amigos</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="./grupo.html">Grupos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./despesas.html">Despesas</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a onclick="logout()">Sair</a>            
        </span>
    </div>
</nav>
<script src="../script/user.js"></script>